books-index-war/src/main/resources/META-INF/books-index.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="books" type="bookList"/>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element type="xs:string" name="isbn"/>
      <xs:element type="xs:string" name="author"/>
      <xs:element type="xs:string" name="title"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookList">
    <xs:sequence>
      <xs:element name="book" type="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>